
<h3 _show="Title">$Title</h3>

<$ _holder="beforeSearch" />

<div _show="table.showSearch" class="search">
    <div class="row g-2">
        <div class="col">
            <form>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fa fa-search"></i>
                    </div>
                    <input _elem="filter"
                        placeholder="$text('Search_Placeholder')"
                        type="text" class="form-control" />
                </div>
            </form>
        </div>
        <div class="col-auto">
            <$ _holder="afterSearch" />
        </div>
    </div>
</div>
<!-- <div _hide="table.showSearch"> -->
    <!-- <span>&nbsp;</span>Needed for some reason. Bug? -->
<!-- </div> -->

<$ _holder="beforeTable" />
<$ _holder="beforeTable2" />
<$ _holder="beforeTable3" />
<$ _holder="beforeTable4" />

<div _show="table.isEmpty" class="table_empty pb-5">
    $text('TableEmpty')
</div>
<div _hide="table.isEmpty" class="table-responsive">
    <table class="table">
        <thead>
            <tr class="header">
                <th _elem="selectable_TableCheckboxHolder" _show="table.selectable">
                    <input _elem="selectable_TableCheckbox" type="checkbox" />
                </th>
                <th _repeat="table.headers:header" _elem="header" _show="header.show" 
                        class="text-nowrap $header.class" style="$header.style">
                    <a href=""><span style="$header.textStyle" _field="header.title" /></a>&nbsp;
                    <i _show="header.caretDown" class="fa fa-caret-down"></i>
                    <i _show="header.caretUp" class="fa fa-caret-up"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr _repeat="table.rows:row" _elem="row" class="$table.trClass $row.class" 
                    style="$row.style">
                <td _elem="selectable_RowCheckboxHolder" _show="table.selectable">
                    <input _show="row.selected" type="checkbox" checked="true" />
                    <input _hide="row.selected" type="checkbox" />
                </td>
                <td _repeat="row.cols:col" _show="col.show" class="$col.class" style="$col.style">
                    <a _show="row.href" href="$row.href">
                        <span _field="col.html"></span>
                    </a>
                    <span _field="col.html" />
                    <$ _show="col.button.show">
                        <div class="$col.button.class">
                            <a _elem="columnButton" href="#"
                                class="btn $col.button.btnClass mg-full">
                                <i class="$col.button.iClass"></i>
                                $col.button.text
                            </a>
                        </div>
                    </$>
                </td>
            </tr>

            <tr _show="table.loading" class="e-load-more">
                <td colspan="$table.colsLength" style="text-align: center;">
                    $text('Loading')
                </td>
            </tr>

            <tr _show="table.showLoadMore" _hide="table.loading" class="e-load-more">
                <td _elem="loadMore" colspan="$table.colsLength"
                        class="clickable" style="text-align: center;">
                    <a href="#" class="btn btn-outline-secondary mt-3 w-100">
                        $text('LoadMore')
                        &nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mg-clear"></div>

<$ _holder="afterTable"></$>
<$ _holder="afterTable2"></$>
<$ _holder="afterTable3"></$>
<$ _holder="afterTable4"></$>